@import '../../styles/common.scss';

.wrapper {
  max-width: 300px;
  min-width: 200px;
  position: fixed;
  top: 84px;
  transform: translateX(804px);
  display: inline-flex;
  background-color: $n0;
  @extend .br16;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid $n50;
}

.header {
  padding: 16px;
  box-shadow: 0 1px 0 0 $n50;
}

.content {
  padding: 16px 8px;
  max-height: 520px;
  overflow-y: auto;
}

.item {
  padding: 8px;
  @extend .br08;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $n50;
  }

  &.active {
    background-color: $b50;
    color: $b600;
  }
}
