@import '../../styles/common.less';

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  width: fit-content;
  padding-top: @size32;
  margin: 0 auto;
}

.control {
  .br16();
  background-color: @n0;
  padding: @size16;
  margin-bottom: @size16;
  display: flex;

  .buttons {
    font-size: 15px;
    font-family: @codeFont;
    padding-right: @size16;
    border-right: 1px solid @n50;
    margin-right: @size16;

    .btn {
      .br8();
      padding: @size08 @size16;
      margin-bottom: @size08;
      cursor: pointer;
      user-select: none;

      &:last-child {
        margin: 0;
      }

      &:hover {
        background-color: @n50;
      }

      &.btnActive {
        background-color: @b50;
        color: @b500;
      }
    }
  }
}

.background {
  .br16();
  position: relative;
  padding: @size16;
  background-color: #bbada0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  user-select: none;

  .bgRow {
    display: flex;
    user-select: none;
    pointer-events: none;
    margin-bottom: @size16;

    &:last-child {
      margin: 0;
    }
  }

  .bgCol {
    .br8();
    width: 100px;
    height: 100px;
    background-color: #d6c8bb;
    margin-right: @size16;
    pointer-events: none;
    user-select: none;

    &:last-child {
      margin: 0;
    }
  }

  :global {
    #GAME_BOARD_ID {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      z-index: 10;
    }

    .cell {
      .br8();
      position: absolute;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      transition: all 0.15s ease-in-out;

      @count: 0, 1, 2, 3, 4;
      each(@count, #(@x) {
        each(@count, #(@y) {
          &.loc-x@{x}-y@{y} {
            top: @y * 116px;
            left: @x * 116px;
          }
        })
      });
    }
  }
}

.back {
  width: 100%;
  .br16();
  padding: 16px 0;
  text-align: center;
  margin-top: 16px;
  background-color: @n0;
  border: 1px solid @n200;
  cursor: pointer;

  &:hover {
    border-color: @b500;
    background-color: @b50;
    color: @b600;
  }
}

.gameOver {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in;
  font-family: @codeFont;
  font-size: 52px;
  font-weight: bold;
  color: #887665;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);

  &.gameOverShow {
    opacity: 1;
  }

  .restart {
    .br16();
    margin-top: @size16;
    font-family: @fontFamily;
    font-size: 16px;
    font-weight: 400;
    padding: @size08 @size32;
    border: 1px solid @n300;
    background-color: @n0;
    cursor: pointer;
  }
}
