@import '../../../../styles/common.less';

.wrapper {
  width: 294px;
  position: sticky;
  top: 16px;
  display: inline-flex;
  flex-direction: column;
   .br16();
  overflow: hidden;
  border: 1px solid @n200;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    display: none;
  }
}

.content {
  padding: @size08;
  max-height: 520px;
  overflow-y: auto;
  background-color: @n0;
}

.item {
  .br8();
  .body();
  padding: @size04;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background-color: @b50;
  }

  &.active {
    background-color: @b100;
    color: @b600;
  }
}
