@import '../../styles/common.less';

.globalHeader {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: @n0;
  box-shadow: 0 1px 4px 2px @n200;
}

.navWrap {
  display: flex;
  align-items: center;
  width: @mainWidth;
  height: 68px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: lighter;
  user-select: none;
}

.title {
  .head0();
}

.cursor {
  display: inline-block;
  height: 2px;
  width: 14px;
  position: relative;
  bottom: -2px;
  margin-left: 2px;
  background-color: currentColor;
  animation: flashing 1.5s steps(1) infinite;
}

@keyframes flashing {
  50% {
    background-color: transparent;
  }
}
