@import "../../styles/common.less";

.globalHeader {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 1px 2px 2px @n100;
  
  &::after {
    position: absolute;
    opacity: 0.06;
    backdrop-filter: blur(6px);
    background: @pp500;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    animation: bg infinite 5s ease-in-out;

    @keyframes bg {
      0% {
        background: @pp500;
      }

      25% {
        background: @r500;
      }

      50% {
        background: @pp500;
      }

      75% {
        background: @b500;
      }

      100% {
        background: @i500;
      }
    }
  }
}

.navWrap {
  display: flex;
  position: relative;
  align-items: center;
  width: @mainWidth;
  height: 68px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: lighter;
  user-select: none;
  z-index: 1;
  padding: 0 @size16;

  @media screen and (max-width: 1440px) {
    width: 100%;
    padding: 0 @size16;
  }
}

.title {
  .head0();
}

.cursor {
  display: inline-block;
  height: 2px;
  width: 14px;
  position: relative;
  bottom: -2px;
  margin-left: 2px;
  background-color: currentColor;
  animation: flashing 1.5s steps(1) infinite;
}

@keyframes flashing {
  50% {
    background-color: transparent;
  }
}
