@import '../../styles/common.scss';

.layout {
  background-color: $bg;
  padding: 0 16px;
}

.back {
  width: $mainWidth;
  margin: 0 auto;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 4px;
  position: sticky;
  top: 0;
  background-color: $bg;
  color: $n300;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid $n50;
  z-index: 1;

  &:hover {
    color: $n600;
    border-color: $n300;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: 10px;
    height: 10px;
    top: 24px;
    left: 1px;
    transform: rotate(-45deg);
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
  }

  &::after {
    width: 16px;
    height: 1px;
    background-color: currentColor;
    top: 29px;
    left: -1px;
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 0;

  .title {
    font-size: 32px;
    font-weight: 200;
    width: 100%;
    text-align: center;
  }

  .tagsWrap {
    display: flex;
    gap: 4px;
    margin-top: 8px;

    .tag {
      @extend .br16;
      background-color: $b500;
      display: inline-block;
      padding: 4px 6px;
      color: $n0;
      font-size: 12px;
      
      &::selection {
        background-color: transparent;
      }
    }
  }
}
