@import '../../styles/common.scss';

.layout {
  background-color: $bg;
  padding: 0 16px;
}

.toolbar {
  position: sticky;
  top: 24px;
  transform: translateX(-70px);
  width: fit-content;
  display: flex;
  flex-direction: column;

  .tool {
    @extend .br16;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $n0;
    border: 1px solid $b100;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
      color: $b300;
    }

    &:hover {
      border-color: $b500;
    }
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 0;

  .title {
    font-size: 32px;
    font-weight: 200;
    width: 100%;
    text-align: center;
  }

  .tagsWrap {
    display: flex;
    gap: 4px;
    margin-top: 8px;

    .tag {
      @extend .br16;
      background-color: $b500;
      display: inline-block;
      padding: 4px 6px;
      color: $n0;
      font-size: 12px;
      
      &::selection {
        background-color: transparent;
      }
    }
  }
}
