@import "../../styles/common.less";

.blockquote {
  .br8();
  border: 1px solid @b100;
  padding: 16px;
  overflow: hidden;
  position: relative;
  margin: 16px 0;
  background-color: @n0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: @b100;
  }

  &:hover {
    border-color: @b300;
  }

  &:hover::before {
    background-color: @b300;
  }

  .p {
    white-space: pre-line;

    &:hover {
      background-color: transparent;
    }
  }
}

.code {
  .br8();
  margin: 0 4px;
  padding: 2px 8px;
  background-color: @b50;
  border: 1px solid transparent;
  color: @b600;
  font-family: @codeFont, @fontFamily;
  font-size: 14px;

  &::selection {
    background-color: transparent;
  }

  &:hover {
    cursor: default;
    border-color: @b600;
  }
}

.pre {
  .br8();
  padding: 16px;
  border: 1px solid @n100;
  margin: 8px 0;
  font-family: @codeFont, @fontFamily;
  font-size: 13px;
  background-color: @n0;
  overflow: auto;

  &:hover {
    border-color: @n300;
  }

  .code-line {
    &:hover .code-line-order {
      color: @b600;
    }

    .code-line-order {
      display: inline-block;
      width: 22px;
      text-align: end;
      margin-right: 6px;
      padding-right: 6px;
      user-select: none;
      border-right: 1px solid @n50;
      color: @n300;
    }
  }
}

.p {
  .body();
  padding: 4px 0;

  &:hover {
    background-color: @n0;
  }
}

strong {
  .head6();
}

.header {
  margin-top: @size16;

  &.h1 {
    .head1();
  }

  &.h2 {
    .head2();
  }

  &.h3 {
    .head3();
  }

  &.h4 {
    .head4();
  }

  &.h5 {
    .head5();
  }

  &.h6 {
    .head6();
  }
}

.link {
  color: @b600;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    background-color: @b600;
    color: @n0;
  }
}

.ul {
  .body();
  padding: 6px 0;
  padding-left: 24px;

  .li {
    padding: 4px 0;
    line-height: 1.7;
    list-style: decimal;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: @n0;
    }
  }
}

.img {
  display: block;
  width: 360px;
  height: auto;
  margin: 0 auto;
  transition: all 0.2s ease-out;
}
