@import '../../styles/common.scss';

.layout {
  background-color: $bg;
}

.back {
  width: $mainWidth;
  margin: 0 auto;
  padding: 16px;
  padding-left: 24px;
  padding-top: 18px;
  position: sticky;
  top: 0;
  background-color: $bg;
  color: $n300;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid $n50;
  z-index: 1;

  &:hover {
    color: $n600;
    border-color: $n300;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
  }

  &::after {
    width: 16px;
    height: 1px;
    background-color: currentColor;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
