@import '../../styles/common.scss';

.blockquote {
  @extend .br08;
  border: 1px solid $b100;
  padding: 16px;
  overflow: hidden;
  position: relative;
  margin: 16px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $b100;
  }

  &:hover {
    border-color: $b300;
  }

  &:hover::before {
    background-color: $b300;
  }

  .p {
    white-space: pre-line;
  }
}

.code {
  @extend .br16;
  margin: 2px;
  padding: 2px 8px;
  background-color: $b300;
  color: $n0;
  font-family: 'JetBrains Mono', 'Microsoft YaHei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;

  &::selection {
    background-color: transparent;
  }
}

.pre {
  @extend .br08;
  padding: 16px;
  border: 1px solid $n50;
  margin: 8px 0;
  font-family: 'JetBrains Mono', 'Microsoft YaHei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;

  &:hover {
    border-color: $n100;
  }
}

.p {
  line-height: 1.5;
}

.header {
  font-weight: 500;
  margin-top: 16px;

  &.h1 {
    font-size: 26px;
  }

  &.h2 {
    font-size: 24px;
  }

  &.h3 {
    font-size: 22px;
  }

  &.h4 {
    font-size: 20px;
  }

  &.h5 {
    font-size: 18px;
  }

  &.h6 {
    font-size: 16px;
  }
}

.link {
  color: $b600;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    background-color: $b600;
    color: $n0;
  }
}
