@import '../styles/common.scss';

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $bg;
}

.contentWrap {
  width: 100%;
  height: calc(100% - 68px);
  padding-bottom: 32px;
  overflow: auto;
  position: relative;
}

.content {
  width: 960px;
  margin: 0 auto;
}
