@import '../styles/common.scss';

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  @extend .shadow1;
  width: 100%;
  height: 60px;
}

.contentWrap {
  width: 100%;
  height: calc(100vh - 60px);
  padding-bottom: 32px;
  overflow: auto;
}

.content {
  width: 980px;
  margin: 0 auto;
  padding: 0 120px;
  padding-top: 16px;
}